<!DOCTYPE html>
<html>
<head>
    <title>Color Analyzer</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 header">
                <img src="static/images/color.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file"><h5>Upload an image:</h5></label>
                        <input type="file" class="form-control-file" id="file" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary">Analyze</button>
                </form>
            </div>
        </div>
     
    </div>
</body>
</html>
